.bg-login{
    width: 100vw;
    min-height: 100vh; /* Função para calcular o tamanho do Home com base no tamanho da tela e do Navbar */
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('./bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-login{
    width: 30vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    background: linear-gradient(36deg, rgba(232,196,213, 90%) 7%, rgba(247,216,160, 90%) 88%);
}

.card-title-login{
    font-weight: bold!important;
    color: #9b5b63;
    variant: h3;
    component: h3;
    align: center
}



label{
    color: #ffffff!important;
    font-weight: bold!important;
}

input-login{
    color: #9b5b63!important;
}

.form-input-login{
    width: 100%;
}

.form-btn-login{
    background-color: #9b5b63!important;
    color: #ffffff!important;
}

.MuiInput-underline:before{
    border-bottom: 1px solid #4894d8!important;
}

.MuiInput-underline:after{
    border-bottom: 1px solid #444f52!important;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-link{
    text-decoration: none;
    color: #BF685E!important;
}
/* Sobrepor o underline do Input, nesse caso precisa passar o !important para sobrepor a prop. Transition
Nesse caso, o !Important está sobrepondo tudo relacionado ao border-bottom dessa classe
*/
