@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.titulo {
    text-align: center;
    color: white!important;
    font-weight: bold!important;
    font-family: 'Nunito', sans-serif!important;
}

.img {
    width: 450px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

h6,h5,h3 {
    font-family: 'Nunito', sans-serif!important;
}

.botao{
    border-color: white!important;
    background: rgba(149,223,237,0.4)!important;
    color: white!important; 
}

.caixa{
    background: linear-gradient(36deg, rgba(237,233,197,1) 17%, rgba(109,153,161,0.6727065826330532) 88%);
}
.bg-home{
    width: 100vw;
    min-height: 100vh; /* Função para calcular o tamanho do Home com base no tamanho da tela e do Navbar */

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./bg-home.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.postagens{
    background-color: white;
}

