.titulo {
    color: mediumturquoise;
    text-align: center;
}

.img {
    width: 450px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

h6,h5,h3 {
    font-family: montserrat!important;
}