
.card-container{
    display: grid;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 20px;
    background: linear-gradient(0deg, rgba(238,174,202,0.5494572829131652) 0%, rgba(71,222,210,0.3561799719887955) 100%);
    
}

.card-container-info{
    background-color: rgba(255, 255, 255, 0.465);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 90%;
}

.card-imagem{
    object-fit: cover;
    
}

.card-container-texto{
    max-width: 550px;
    color: rgb(18, 147, 169);
    text-align: justify;
}

.card-container-about{
    align-items: start;
    height: 80%;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.465);
    padding: 2rem;
    margin-bottom: 10%;
}