.imagem2{
    background-image: url(./bg-sakura.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    color: #81500b!important;
}

.btnCadastrar{
    margin-right: 20px !important;
}

.cadastro{
     background:#a49ecaae;
    display: flex;
    justify-content: center;
    height: 100vh;
    }

.boxCadastro{
    width: 40%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 24px;
    background: linear-gradient(36deg, rgba(240,212,216,0.51) 17%, rgba(223,214,220,0.7) 56%, rgba(149,223,237,0.4) 88%);
   
}

label{
    color: #81500b!important;
    font-weight: bold!important;
}

input{
    color: #748480!important;
}

.form-input{
    width: 100%;
}

.MuiInput-underline:before{
    border-bottom: 1px solid #f9bb0d!important;
}

.MuiInput-underline:after{
    border-bottom: 1px solid #444f52!important;
}

.textos2{
    font-weight: bold!important;
}

.form-cadastrar{
    margin-right: 2rem!important;
    margin-top: 1rem!important;
    background-color: #9b5b63!important;
    color: #ffffff!important;
}

.form-cancelar{
    margin-top: 1rem!important;
}

.text-decoration-cadastro{
    text-decoration: none;
    
}