.container{
    display:flex;
    justify-content: space-between;
    align-items: space-between;
}

.imagem2{
    width: 100vw;
    min-height: 100vh; /* Função para calcular o tamanho do Home com base no tamanho da tela e do Navbar */
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('https://media.istockphoto.com/photos/box-yellow-picture-id513223112');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cadastro{
    border: 5px solid #f6cd51;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(246,205,81,1) 0%, rgba(129,80,11,0.6166841736694677) 100%);

}

.card-title{
    font-weight: bold!important;
    color: #81500b;
}

form{
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    padding: 3rem;
}

.form-input{
    padding: 3rem;
}

label{
    color: #81500b!important;
    font-weight: bold!important;
}

input{
    color: #748480!important;
}

.form-input{
    width: 100%;
}

.MuiInput-underline:before{
    border-bottom: 1px solid #f9bb0d!important;
}

.MuiInput-underline:after{
    border-bottom: 1px solid #444f52!important;
}

.textos2{
    font-weight: bold!important;
}

.form-cadastrar{
    margin-right: 2rem!important;
    margin-top: 1rem!important;
    background-color: #9b5b63!important;
    color: #ffffff!important;
}

.form-cancelar{
    margin-top: 1rem!important;
}

.text-decoration-cadastro{
    text-decoration: none;
    
}