.imagem2{
    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}
.cadastro{
    border: 5px solid #f6cd51;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(246,205,81,1) 0%, rgba(129,80,11,0.6166841736694677) 100%);

}


label{
    color: #81500b!important;
    font-weight: bold!important;
}

input{
    color: #748480!important;
}

.form-input{
    width: 100%;
}

.MuiInput-underline:before{
    border-bottom: 1px solid #f9bb0d!important;
}

.MuiInput-underline:after{
    border-bottom: 1px solid #444f52!important;
}

.textos2{
    font-weight: bold!important;
}

.form-cadastrar{
    margin-right: 2rem!important;
    margin-top: 1rem!important;
    background-color: #9b5b63!important;
    color: #ffffff!important;
}

.form-cancelar{
    margin-top: 1rem!important;
}

.text-decoration-cadastro{
    text-decoration: none;
    
}